<li class="dropdown">
    <a href="{% url 'post_list' %}">Template</a>
    <ul class="sub-menu">
        <li><a href="{% url 'post_list' %}">Single Page</a></li>
        <li><a href="single-hero.html">Hero Image</a></li>
        <li><a href="{% url 'post_list' %}">HTML Elements</a></li>
        <li><a href="{% url 'post_list' %}">Image Alignment</a></li>
        <li><a href="{% url 'post_list' %}">Archives Page</a></li>
        <li><a href="{% url 'post_list' %}">Search Result</a></li>
        <li><a href="{% url 'post_list' %}">404 Page</a></li>
        <li class="dropdown">
            <a href="#">More Menu</a>
            <ul class="sub-menu">
                <li><a href="">First Menu</a></li>
                <li><a href="">Second Menu</a></li>
                <li><a href="">Third Menu</a></li>
            </ul>
        </li>
    </ul>
</li>