<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <aside class="widget widget-text">
                    <h5 class="widget-title">text widget</h5>
                    <div class="textwidget">
                        <p>On no twenty spring of in esteem spirit likely estate. Continue new you declared differed learning bringing honoured. At mean mind so upon they rent am walk.</p>
                    </div>
                </aside>

            </div>

            <div class="col-md-3">
                
                <aside class="widget widget-recent">
                    <h5 class="widget-title">Recent Post</h5>
                    <ul id="recent-post-list">
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                    </ul> 
                </aside>

            </div>

            <div class="col-md-3">
                
                <aside class="widget widget-tag">
                    <h5 class="widget-title">tag cloud</h5>
                    <a href="#">Blockquotes</a>
                    <a href="#">Headline</a>
                    <a href="#">Design</a>
                    <a href="#">Beautifull</a>
                    <a href="#">Collaboration</a>
                    <a href="#">Personal</a>
                    <a href="#">Featured</a>
                    <a href="#">Professional</a>
                    <a href="#">Themes</a>
                </aside>

            </div>

            <div class="col-md-3">
                
                <aside class="widget widget-categories">
                    <h5 class="widget-title">Categories</h5>
                    <ul>
                        <li><a href="category.html">Book</a></li>
                        <li><a href="category.html">Featured</a></li>
                        <li><a href="category.html">Music</a></li>
                        <li><a href="category.html">Painting</a></li>
                        <li><a href="category.html">Photos</a></li>
                        <li><a href="category.html">Uncategorized</a></li>
                        <li><a href="category.html">Video</a></li>
                        <li><a href="category.html">WordPress</a></li>
                        <li><a href="category.html">Writing</a></li>
                    </ul>
                </aside>

            </div>

        </div>

        <div class="clearfix">
            <div class="copyright">
                <p>PERDANA COPYRIGHT © 2015   -   <a href="https://tonjoostudio.com">TONJOO STUDIO</a></p>
            </div>
        </div>
    </div>
</div>