{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Perdana</title>


<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/icomoon.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/theme.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/wide.css' %}" rel="stylesheet" id="theme-layout">
<link href="{% static 'assets/css/switcher.css' %}" rel="stylesheet" id="theme-layout">
<link href="{% static 'assets/css/skin/black.css' %}" rel="stylesheet" id="theme-skin">