{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery_cookie.js' %}"></script>
<script src="{% static 'assets/js/readcookies.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'assets/js/autonav.js' %}"></script>
<script src="{% static 'assets/js/collapse.js' %}"></script>
<script src="{% static 'assets/js/transition.js' %}"></script>
<script src="{% static 'assets/js/dropdown.js' %}"></script>
<script src="{% static 'assets/js/imgLiquid-min.js' %}"></script>