{% block content %}
<div class="main-content">
					
	<article class="post post-single">

		<header class="post-heading">
			<div class="post-title">
				<h1>The Night I Got Trapped in Azkhaban</h1>
				<p class="meta-entry">
					<span class="meta-date">July 1, 2014</span>
					by
					<span class="author">
						<a href="author.html">John Doe</a>
					</span>
					<span class="meta-cat">Posted in <a href="#">Tutorial</a></span>
					<span class="total-comments">
						<i class="icon-comment"></i> <a href="#comments">8 Comments</a>	
					</span>

				</p>
			</div>
		</header>

		<div class="post-content">

			<div class="img-thumb">
				<img class="img-responsive" src="assets/img/default.jpg" alt="">
			</div>
			
			<p>This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique excepturi veniam, debitis, repellat aliquam explicabo eaque et, quibusdam dolor ab. Soluta deleniti, recusandae, illo mollitia veritatis voluptate! Quae, ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi accusantium harum dolor distinctio, fugiat, officiis facere et unde dolore officia tempore assumenda quae laudantium eveniet ipsum optio doloremque eos?</p>
			<blockquote>
				I think most programmers spend the first 5 years of their career mastering complexity, and the rest of their lives learning simplicity.
				<div class="author">- BUZZ ANDERSEN</div>
			</blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis harum deserunt voluptates vel nam quis itaque illum magni eveniet blanditiis iusto esse, ducimus voluptatum, ea, suscipit, animi cupiditate perspiciatis adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis deleniti quae quasi rerum ea quod nemo ipsum necessitatibus, enim accusantium reiciendis cum, magni recusandae ipsam adipisci. Hic id quam saepe.</p>
			<iframe width="798px" height="449px" src="https://www.youtube.com/embed/lAxgztbYDbs" frameborder="0" allowfullscreen></iframe>
			<p>Plura mihi bona sunt, inclinet, amari petere vellent. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Cras mattis iudicium purus sit amet fermentum. At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt. Sed haec quis possit intrepidus aestimare tellus. Quam temere in vitiis, legem sancimus haerentia. Quae vero auctorem tractata ab fiducia dicuntur. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
			<br>
			<div class="widget-ads">
				<a href="" class="ads-large"><img src="assets/img/728x90_ad.png" alt=""></a>
				<a href="" class="ads-medium"><img src="assets/img/336x280_ad.png" alt=""></a>
				<a href="" class="ads-small"><img src="assets/img/200x200_ad.png" alt=""></a>
			</div>
			<h4>Cum ceteris in veneratione tui montes, nascetur mus.</h4>
			<p>Quam diu etiam furor iste tuus nos eludet? Quae vero auctorem tractata ab fiducia dicuntur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Cum ceteris in veneratione tui montes, nascetur mus. Excepteur sint obcaecat cupiditat non proident culpa. Nec dubitamus multa iter quae et nos invenerat. Nec dubitamus multa iter quae et nos invenerat. Quam temere in vitiis, legem sancimus haerentia.</p>
			<p>Plura mihi bona sunt, inclinet, amari petere vellent. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Cras mattis iudicium purus sit amet fermentum. At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt. Sed haec quis possit intrepidus aestimare tellus. Quam temere in vitiis, legem sancimus haerentia. Quae vero auctorem tractata ab fiducia dicuntur. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
		</div>

		<span class="widget-tag clearfix">
			<a href="#">example</a>
			<a href="#">post</a>
			<a href="#">tag</a>
			<a href="#">text</a>
			<a href="#">edit</a>
			<a href="#">reader</a>
		</span>
		
		<div class="share-article">
			<ul class="list-inline">
				<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
				<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
			</ul>
		</div>

		<div class="widget post-author clearfix">
			<div class="profile-photo col-md-3 col-sm-4 col-xs-4">
				<img src="assets/img/media-author-2.png" alt="" class="img-responsive">
			</div>
			<div class="profile-caption col-md-9 col-sm-8 col-xs-8">
				<h5 class="widget-title">About Me</h5>
				<h3>Brian Gardner</h3>
				<p>On no twenty spring of in esteem spirit likely estate. Continue new you declared differed learning bringing honoured. At mean mind so upon they rent am walk.</p>
			</div>
		</div>

		<div class="widget related-story clearfix">
			<h5 class="widget-title">Related Story</h5>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="post">
						<div class="row">
							<div class="img-thumb col-md-5 col-xs-5">
								<a href="#">
									<img class="img-responsive" src="assets/img/default.jpg" alt="">
								</a>
							</div>

							<div class="col-md-7 col-xs-7 no-padding">
								<header class="post-heading">
									<div class="post-title">
										<a href="#"><h5>Exploring The Benefits Of Eating Healthy</h5></a>
									</div>
								</header>

							</div>
						</div>

					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="post">
						<div class="row">
							<div class="img-thumb col-md-5 col-xs-5">
								<a href="#">
									<img class="img-responsive" src="assets/img/default.jpg" alt="">
								</a>
							</div>

							<div class="col-md-7 col-xs-7 no-padding">
								<header class="post-heading">
									<div class="post-title">
										<a href="#"><h5>Exploring The Benefits Of Eating Healthy</h5></a>
									</div>
								</header>

							</div>
						</div>

					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="post">
						<div class="row">
							<div class="img-thumb col-md-5 col-xs-5">
								<a href="#">
									<img class="img-responsive" src="assets/img/default.jpg" alt="">
								</a>
							</div>

							<div class="col-md-7 col-xs-7 no-padding">
								<header class="post-heading">
									<div class="post-title">
										<a href="#"><h5>Exploring The Benefits Of Eating Healthy</h5></a>
									</div>
								</header>

							</div>
						</div>

					</div>
				</div>
				
			</div>
		</div>


	</article> <!-- post -->

	<div class="widget comments" class="clearfix" id="comments">

		<h5 class="widget-title">3 Comments</h5>

		<ol class="comment-list">

			<li class="comment">

				<div class="comment-wrap">
					<div class="comment-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60">
					</div>

					<div class="comment-content">
						<div class="comment-author"><a href="author.html">John Doe</a> <span class="meta-time">2 min ago</span></div>

						<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reiciendis at ipsum error, tempore, ut quo suscipit odio doloribus, dignissimos aliquam soluta. Maxime totam omnis, a atque eaque natus adipisci!</p>

						<a class="comment-reply-link" href="#"> Reply</a>

					</div>
				</div>


				<ul class="children">

					<li class="comment">
						<div class="comment-wrap">
							<div class="comment-avatar">
								<img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60">
							</div>

							<div class="comment-content">
								<div class="comment-author"><a href="author.html">John Doe</a> <span class="meta-time">2 min ago</span></div>

								<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

								<a class="comment-reply-link" href="#"> Reply</a>

							</div>
						</div>
					</li>

				</ul>

			</li>

			<li class="comment">

				<div class="comment-wrap">
					<div class="comment-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60">
					</div>

					<div class="comment-content">
						<div class="comment-author"><a href="author.html">John Doe</a> <span class="meta-time">2 min ago</span> </div>

						<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

						<a class="comment-reply-link" href="#"> Reply</a>

					</div>
				</div>

			</li>

		</ol><!-- .commentlist end -->


		<div class="respond">

			<h3>Leave a <span>Comment</span></h3>

			<form class="row" role="form" method="POST" action="">
				<div class="form-group col-md-4">
					<label for="">Name <sup class="required">*</sup></label>
					<input id="" name="" type="text" class="form-field" placeholder="">
				</div>
				<div class="form-group col-md-4">
					<label for="">Email <sup class="required">*</sup></label>
					<input id="" name="" type="text" class="form-field" placeholder="">
				</div>
				<div class="form-group col-md-4">
					<label for="">Website</label>
					<input id="" name="" type="text" class="form-field" placeholder="">
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="">Comment</label>
						<textarea name="" id="" rows="6" class="form-field" ></textarea>
					</div>

					<button type="submit" class="btn btn-md">Submit</button>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Notify me of followup comments via e-mail
						</label>
					</div>
				</div>
			</form>

		</div><!-- #respond end -->

	</div>


</div> <!-- main-content -->
{% block content%}